<div class="container">
  <h2>Jurados</h2>
    <br>
    <a routerLink="/jurado/crear-jurado" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Apellidos
        </th>
        <th>
          Telefono
        </th>
        <th>
          Correo
        </th>
        <th>
          Entidad
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            {{r.apellidos}}
          </td>
          <td>
            {{r.telefono}}
          </td>
          <td>
            {{r.correo}}
          </td>
          <td>
            {{r.entidad}}
          </td>
          <td>
            <a routerLink="/jurado/editar-jurado/{{r._id}}" ><i class="material-icons">edit</i></a>
            <a routerLink="/jurado/eliminar-jurado/{{r._id}}" ><i class="material-icons">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
