<main class="center">

    <h5 class="color-primary">Formulario de recuperacion de contraseña</h5>
    <div class="section"></div>
  
    <div class="container">
      <div class="z-depth-1 grey lighten-4 row"
        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <form  class="col s12" [formGroup]="form">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
  
          <div class='row'>
            <div class='input-field col s12'>
              <input formControlName="username" class='validate' type='text' name='usuario' id='email' />
              <label for='email'>Email</label>
              <div *ngIf="GetForm['username'].errors && (GetForm['username'].dirty || GetForm['username'].touched) ">
                <label class="warning">Por favor ingrese un usuario valido</label>
              </div>
            </div>
          </div>
  
          <br />
          <div class='row center' >
            <button name='btn_login' (click)="RecuperarClave()" type='button' class='col s12 btn btn-large background-primary'
            [disabled]="GetForm['username'].errors" type='button' >Recuperar clave</button>
          </div>
        </form>
      </div>
    </div>
    <a routerLink="/seguridad/usuario/crear-usuario" class="color-third">Crear cuenta</a>
  
    <div class="section"></div>
    <div class="section"></div>
  </main>
  
