<div class="container">
    <br>
    <a routerLink="/parametrizacion/facultad/crear-facultad" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Codigo
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            {{r.codigo}}
          </td>
          <td>
            <a routerLink="/parametrizacion/facultad/editar-facultad/{{r._id}}" class="btn">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>