<div class="container">
  <h2>Facultad</h2>
    <br>
    <a routerLink="/parametrizacion/facultad/crear-facultad" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Codigo
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            {{r.codigo}}
          </td>
          <td>
            <a routerLink="/parametrizacion/facultad/editar-facultad/{{r._id}}" ><i class="material-icons">edit</i></a>
            <a routerLink="/parametrizacion/facultad/eliminar-facultad/{{r._id}}" ><i class="material-icons trash">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls class="primary" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>
      </tbody>
    </table>
  </div>