<main class="center">

    <h5 class="color-primary">Formulario de edicion de proponente</h5>
    <div class="section"></div>
  
    <div class="container">
      <div class="z-depth-1 grey lighten-4 row"
        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <!--  -->
        <form class="col s12" [formGroup]="form">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
  
          <div class='row'>
            <div class='input-field col s6'>


              <input formControlName="id" class='validate' hidden type='text' name='id' id='id' />

              <input formControlName="nombre" class='validate ' type='text' name='nombre' id='nombre' />
              <label class="active" for='nombre'>Nombre</label>
              
  
              <div *ngIf="GetForm['nombre'].errors && (GetForm['nombre'].dirty || GetForm['nombre'].touched) ">
                <label class="warning">Por favor ingrese un nombre valido</label>
              </div>
            </div>
  
            <div class='input-field col s6'>
              <input formControlName="apellidos" class='validate' type='text' name='apellidos' id='apellidos' />
              <label class="active" for='apellidos'>Apellidos</label>
              <!--  -->
              <div *ngIf="GetForm['apellidos'].errors && (GetForm['apellidos'].dirty || GetForm['apellidos'].touched) ">
                <label class="warning">Por favor ingrese un Apellido valido</label>
              </div>
            </div>
          </div>
  
          <div class='row'>
            <div class='input-field col s6'>
              <input formControlName="documento" class='validate' type='text' name='documento' id='documento' />
              <label class="active" for='documento'>Documento</label>
              <!--  -->
              <div *ngIf="GetForm['documento'].errors && (GetForm['documento'].dirty || GetForm['documento'].touched) ">
                <label  class="warning">Por favor ingrese un Documento valido</label>
              </div>
            </div>
  
            <div class='input-field col s6'>
              <input formControlName="fechaNacimiento" class='validate' type='date' name='fechaNacimiento'
                id='fechaNacimiento' />
              <label class="active" for='fechaNacimiento'>Fecha de nacimiento</label>
              <!--  -->
              <div
                *ngIf="GetForm['fechaNacimiento'].errors && (GetForm['fechaNacimiento'].dirty || GetForm['fechaNacimiento'].touched) ">
                <label  class="warning">Por favor ingrese una fecha de nacimiento valido</label>
              </div>
            </div>
          </div>
  
          <div class='row'>
            <div class='input-field col s6'>
              <input formControlName="celular" class='validate' type='number' name='celular' id='celular' />
              <label class="active" for='celular'>Celular</label>
  
              <div *ngIf="GetForm['celular'].errors && (GetForm['celular'].dirty || GetForm['celular'].touched) ">
                <label  class="warning">Por favor ingrese un celular valido</label>
              </div>
            </div>
  
            <div class='input-field col s6'>
              <input formControlName="correo" class='validate' type='email' name='correo' id='correo' />
              <label class="active" for='correo'>Correo</label>
  
              <div *ngIf="GetForm['correo'].errors && (GetForm['correo'].dirty || GetForm['correo'].touched) ">
                <label  class="warning">Por favor ingrese un correo valido</label>
              </div>
            </div>
  
          </div>
  
          <div class='row'>
  
            <div class="file-field input-field">
              <div class="btn background-primary">
                <span>Cargar</span>
                <input formControlName="foto" class='validate' type='file' value="" name='foto' id='foto' />
              </div>
              <div class="file-path-wrapper">
                <input class="active" class="file-path validate" type="text" placeholder="Foto (Opcional)">
              </div>
            </div>
          </div>
  
          <div class='row'>
            <div class="input-field col s12">
              <select id="departamento" formControlName="idDepartamento">
                <option value="" disabled>Departamento</option>
                <option *ngFor="let r of dropDownDepartamento" ngValue="{{r._id}}">{{r.nombre}}</option>
              </select>
              <label class="active" for="sel">Departamento</label>
            </div>
  
            <div class="input-field col s12">
              <select id="tipoVinculacion" formControlName="idTipoVinculacion">
                <option value="" disabled>Tipo de Vinculacion</option>
                <option *ngFor="let r of dropDownTipoVinculacion" ngValue="{{r._id}}">{{r.nombre}}</option>
              </select>
              <label class="active" for="sel">Tipo de Vinculacion</label>
            </div>
          </div>
  
          <br />
          <div class='row '>
            <div class="col s6">
              <button name='btn_login' type='button' class=' btn btn-large background-primary' type='button'
                (click)="CrearProponente()">Editar Proponente</button>
            </div>
  
            <div class="col s6">
              <button name='btn_login' type='button' class='col s12 btn btn-large red' type='button'
              routerLink="/proponente/listar-proponente">Cancelar</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  
  
    <div class="section"></div>
    <div class="section"></div>
  
</main>
  