<div class="container">
  <h2>Linea de investigacion</h2>
    <br>
    <a routerLink="/parametrizacion/linea-investigacion/crear-linea-investigacion" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Linea de Investigacion
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            <a routerLink="/parametrizacion/linea-investigacion/editar-linea-investigacion/{{r._id}}" ><i class="material-icons">edit</i></a>
            <a routerLink="/parametrizacion/linea-investigacion/eliminar-linea-investigacion/{{r._id}}" ><i class="material-icons">delete</i></a>
          </td>
      </tbody>
    </table>
</div>
  

