
<div class="container">
  <h2>Tipo de Vinculacion</h2>
    <br>
    <a routerLink="/parametrizacion/tipo-vinculacion/crear-tipo-vinculacion" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Tipo de Vinculacion
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id }}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            <a routerLink="/parametrizacion/tipo-vinculacion/editar-tipo-vinculacion/{{r._id}}" ><i class="material-icons">edit</i></a>
            <a routerLink="/parametrizacion/tipo-vinculacion/eliminar-tipo-vinculacion/{{r._id}}" ><i class="material-icons trash">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls class="primary" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>    
      </tbody>
    </table>
</div>
  

