<div class="container">
  <h2>Tipos de Solicitudes</h2>
    <br>
    <a routerLink="/parametrizacion/tipo-solicitud/crear-tipo-solicitud" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Formato
        </th>
        <th>
          Nombre
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.formato}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            <a routerLink="/parametrizacion/tipo-solicitud/editar-tipo-solicitud/{{r._id}}" ><i class="material-icons edit">edit</i></a>
            <a routerLink="/parametrizacion/tipo-solicitud/eliminar-tipo-solicitud/{{r._id}}" ><i class="material-icons trash">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

