<div class="container">
  <h2>Estado</h2>
    <br>
    <a routerLink="/parametrizacion/estado/crear-estado" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Estado
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.tipo}}
          </td>
      </tbody>
    </table>
</div>
  

