<div class="container">
  <h2>Estado</h2>
    <br>
    <a routerLink="/parametrizacion/estado/crear-estado" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Estado
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.tipo}}
          </td>
          <td>
            <a routerLink="/parametrizacion/estado/editar-estado/{{r._id}}" ><i class="material-icons">edit</i></a>
            <a routerLink="/parametrizacion/estado/eliminar-estado/{{r._id}}" ><i class="material-icons trash">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls class="primary" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>  
      </tbody>
    </table>
</div>
  

