<div class="container">
    <br>
    <a routerLink="/parametrizacion/departamento/crear-departamento" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Facultad
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td>
            {{r.id_facultad}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
