<div class="container">
  <h2>Departamento</h2>
    <br>
    <a routerLink="/parametrizacion/departamento/crear-departamento" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Facultad
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.nombre}}
          </td>
          <td *ngIf="r.id_facultad"> 
            {{BuscarNombre(r.id_facultad) }}
          </td>
          <td>
            <a routerLink="/parametrizacion/departamento/editar-departamento/{{r._id}}" ><i class="material-icons">edit</i></a>
            <a routerLink="/parametrizacion/departamento/eliminar-departamento/{{r._id}}" ><i class="material-icons trash">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls class="primary" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
