<div class="container">
  <h2>Departamento</h2>
    <br>
    <a routerLink="/parametrizacion/departamento/crear-departamento" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Facultad
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let m of recordList">
          <td>
            {{m._id}}
          </td>
          <td>
            {{m.nombre}}
          </td>
          <td *ngIf="m.id_facultad">
            {{BuscarNombre(m.id_facultad) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
