<div class="p2">
  <h2>Solicitudes</h2>
    <br>
    <a routerLink="/solicitud/crear-solicitud" class="btn btn-success">Nuevo registro</a>
  
    <table class="table responsive-table">
      <thead>
        <th>
          Id
        </th>
        <th>
          Fecha 
        </th>
        <th>
          Archivo
        </th>
        <th>
          Descripcion
        </th>
        <th>
          Nombre del trabajo
        </th>
        <th>
          Estado
        </th>
        <th>
          Tipo de Solicitud
        </th>
        <th>
          Modalidad
        </th>
        <th>
          Linea de investigacion
        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
          <td>
            {{r._id}}
          </td>
          <td>
            {{r.fecha}}
          </td>
          <td>
            {{r.archivo}}
          </td>
          <td>
            {{r.descripcion}}
          </td>
          <td>
            {{r.nombreTrabajo}}
          </td>
          <td *ngIf="r.id_estado">
            {{BuscarEstado(r.id_estado)}}
          </td>
          <td *ngIf="r.id_tipoSolicitud">
            {{BuscarTipoSolicitud(r.id_tipoSolicitud)}}
          </td>
          <td *ngIf="r.id_modalidad">
            {{BuscarModalidad(r.id_modalidad)}}
          </td>
          <td *ngIf="r.id_lineaInvestigacion">
            {{BuscarLineaInvestigacion(r.id_lineaInvestigacion)}}
          </td>
          <td>
            <a routerLink="/solicitud/editar-solicitud/{{r._id}}"><i class="material-icons edit">edit</i></a>
            <a routerLink="/solicitud/eliminar-solicitud/{{r._id}}"><i class="material-icons trash">delete</i></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls class="primary" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

 