<main class="center">

  <h5 class="color-primary">Formulario de creacion de solicitud</h5>
  <div class="section"></div>

  <div class="container">
    <div class="z-depth-1 grey lighten-4 row"
      style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <!--  -->
      <form class="col s12" [formGroup]="form">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s6'>
            <input formControlName="nombreTrabajo" class='validate' type='text' name='nombreTrabajo'
              id='nombreTrabajo' />
            <label for='nombreTrabajo'>Nombre del trabajo</label>
            <!--  -->
            <div
              *ngIf="GetForm['nombreTrabajo'].errors && (GetForm['nombreTrabajo'].dirty || GetForm['nombreTrabajo'].touched) ">
              <label class="warning">Por favor ingrese un Nombre de trabajo valido</label>
            </div>
          </div>

          <div class='input-field col s6'>
            <input formControlName="fecha" class='validate' type='date' name='fecha' id='fecha' />
            <label for='fecha'>Fecha</label>

            <div *ngIf="GetForm['fecha'].errors && (GetForm['fecha'].dirty || GetForm['fecha'].touched) ">
              <label class="warning">Por favor ingrese un fecha valida</label>
            </div>
          </div>

        </div>

        <div class='row'>

          <div class="file-field input-field">
            <div class="btn background-primary">
              <span>Cargar</span>
              <input formControlName="archivo" class='validate' type='file' name='archivo' id='archivo' />
              <!-- <input type="file"> -->
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Subir archivo">
            </div>
          </div>

        </div>

        <div class='row'>

          <div class='input-field col s12'>
            <textarea formControlName="descripcion" class='validate' name="descripcion" id="descripcion" cols="50"
              rows="10"></textarea>
            <label for='descripcion' id="lblDescription">Descripcion</label>
          </div>

          <div
            *ngIf="GetForm['descripcion'].errors && (GetForm['descripcion'].dirty || GetForm['descripcion'].touched) ">
            <label class="warning">Por favor ingrese una Descripcion valido</label>
          </div>

        </div>

        <div class='row'>
          <div class='input-field col s6'>
            <select id="idModalidad" formControlName="idModalidad">
              <option value="" disabled>Modalidad</option>
              <option *ngFor="let m of modalidadData" value="{{m._id}}">{{m.nombre}}</option>
            </select>
            <label for="sel">Modalidad</label>
          </div>

          <div class='input-field col s6'>
            <select id="idTipoSolicitud" formControlName="idTipoSolicitud">
              <option value="" disabled>Tipo Solicitud</option>
              <option *ngFor="let m of tipoSolicitudData" class="black" value="{{m._id}}">{{m.nombre}}</option>
            </select>
            <label for="sel">Tipo Solicitud</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s6'>
            <select id="idProponente" formControlName="idProponente">
              <option value="" disabled>Proponente</option>
              <option *ngFor="let m of proponenteData" value="{{m._id}}">{{m.nombre}} {{m.apellidos}}</option>
            </select>
            <label for="sel">Proponente</label>
          </div>

          <div class='input-field col s6'>
            <select id="idLineaInvestigacion" formControlName="idLineaInvestigacion">
              <option value="" disabled>Linea de Investigacion</option>
              <option *ngFor="let m of lineaInvestigacionData" value="{{m._id}}">{{m.nombre}}</option>
            </select>
            <label for="sel">Linea de Investigacion</label>
          </div>
        </div>

        <br />
        <div class='row '>
          <div class="col s6">
            <button name='btn_login' type='button' class=' btn btn-large background-primary' type='button'
              (click)="CrearSolicitud()">Crear Solicitud</button>
          </div>

          <div class="col s6">
            <button name='btn_login' type='button' class='col s12 btn btn-large red' type='button'
              routerLink="/solicitud/listar-solicitud">Cancelar</button>
          </div>

        </div>
      </form>
    </div>
  </div>


  <div class="section"></div>
  <div class="section"></div>

</main>
